.logo{
  width: 150px;
  height: auto;
}

.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.Menu a{
  text-decoration: none;
  color: black;
}

.menu2 {
  display: flex;
  list-style: none;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  flex: 1;
}

/* Troca cor quando passa o mouse */
.menu2 a {
  background-color: #5170ff;
  color: black;
  padding: 5px 15px;
  border-radius: 12px;
  text-decoration: none;
  transition: 0.3s;
}

.menu2 a:hover {
  background-color: #6d84ed;
  color: white;
}

header {
  position: relative;
  z-index: 1;
}

html, body {
  margin: 0;
  padding: 0;
}

.linha-divisoria {
  border: none;
  height: 2px;
  background: black;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cinza {
  position: absolute;
  top: 0;
  left: 0;
  background-color: darkgray;
  opacity: 75%;
  height: 200%;
  width: 40%;
  z-index: 0;
}

.cards1 {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 100px 0;
}

.card1 {
  width: 350px;
  height: 400px;
  background: radial-gradient(circle at center, cyan, #5170ff);
  border-radius: 20px;
  border: 2px solid;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card1:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgb( 0, 0, 0, 0.3);
}

.cards2 {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 100px 0;
}

.card2 {
  width: 350px;
  height: 400px;
  background: radial-gradient(circle at center, cyan, #5170ff);
  border-radius: 20px;
  border: 2px solid;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card2:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgb( 0, 0, 0, 0.3);
}

.tenis1, .tenis2, .tenis4, .tenis5{
  width: 110%;
  height: 110%
}

.tenis3 {
  width: 110%;
  height: 110%;
  padding-left: 20px;
}

.tenis6 {
  width: 120%;
  height: 120%;
  margin-top: -40px;
}

/* SOBRE */

.historia {
  position: absolute;
  color: black;
  margin: 100px;
  z-index: 0;
  font-size: 20px;
  top: 190px;
}

.titulo_sobre {
  position: relative;
  color: black;
  margin: 50px;
  z-index: 0;
  font-size: 50px;
  padding-left: 3%;
}